
* {
  font-family: helvetica, arial, sans-serif;
  font-size: 4.3rem;
    color: white;
}

body {
  perspective: 300px;
}

/* clear background */
h2 {
  text-align: center;
  padding: 16px;
  margin: 0;
}

/* flipping class and key frames*/
.flipX {
  animation: 1s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
body {
  background-color: black;
  perspective: 500px;
}

.container {
  position: relative;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(0deg) rotateZ(0deg);
  width: 1000px;
  height: 600px;
}
.container .circle {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 3px solid #fff;
  width: calc(var(--item) / var(--limit) * 100%);
  height: calc(var(--item) / var(--limit) * 100%);
  transform: translate3d(-50%, -50%, calc(var(--item) * var(--item) * -.1px));
}

.circle {
  -webkit-animation-name: ripple;
          animation-name: ripple;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-delay: calc(var(--item) * .05s);
          animation-delay: calc(var(--item) * .05s);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes ripple {
  50% {
    transform: translate3d(-50%, -50%, calc(var(--item) * var(--item) * .3px));
  }
}
@keyframes ripple {
  50% {
    transform: translate3d(-50%, -50%, calc(var(--item) * var(--item) * .3px));
  }
}
