.shapes {
    width: 100%;
    font-family: "Arial Black", "Arial", monospace;
    font-size: 11.5px;
    color: white;
    background: orange;
    height: 90px;
}

#collection {
    margin-left: 20%;
    width: 60%;
}

.frame {
    width: 12%;
    height: 120px;
    padding: 5px;
    background-color: white;
    display: inline-block;
    margin: 10px;
}
    