@font-face{
    font-family: "helvetica", sans-serif;
}

body{
    font-family: "helvetica", sans-serif;
}
.shapes {
    width: 100%;
    font-family: "helvetica", sans-serif;
    color: white;
    background: #9e9d24;
    height: 90px;
}

#collection {
    margin-left: 20%;
    width: 60%;
}

.frame {
    width: 12%;
    height: 120px;
    padding: 5px;
    background-color: white;
    display: inline-block;
    margin: 10px;
    font-size: 12px;
}