.zoom-in-out-box {
  margin: 90px;
  width: 100px;
  height: 200px;
  background: skyblue;
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale (1.5, 1.5)
    }
  50% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(0, 0);
  }
}

body{background-color: hotpink;}

    .p1 {font-family: "Arial Black", "Arial Black", monospace;}
    .p1 {font-size: 250%;}
    .p1thick {font-weight: bold;}
    .p2 {font-family: "Arial", "Arial", monospace;}
    .p2 {font-size: 100%;}
    .center {
  padding: 235px 0;
  border: 2px solid black;
  text-align: center;
        image-orientation: {display: block;margin-left: auto;margin-right: auto;}
